h1{
   font-size: 50px;

}

body{

    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.highlight{
    color: orange;
}
.half{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}

.half img{
    width:73%;


}

.banner{
    background-image: url("images/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;
}